<div class="container">
  <div style="text-align:center">
    <p class="h1">
      Google Maps in Angular 6
    </p>
  </div>
  <br>

  <div class="row">

    <div class="col-md-6 col-sm-12 col-xs-12">
      <form class="form-inline" #form="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" name="latitude" [(ngModel)]="latitude" placeholder="Enter latitude" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="longitude" [(ngModel)]="longitude" placeholder="Enter longitude" required>
        </div>
        <button type="button" (click)="setCenter()" class="btn btn-primary" [disabled]="form.invalid"> Go</button>


      </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <label>Select Marker: </label>
      <select [(ngModel)]="selectedMarkerType" name="category">
        <option *ngFor="let marker of markerTypes" [value]="marker.value">{{marker.text}}</option>
      </select>
      <button type="button" (click)="showCustomMarker()" class="btn btn-primary" [disabled]="form.invalid"> Custom Marker</button>
    </div>
  </div>
  <br>

  <div class="row">
    <button (click)="setMapType('terrain')" class="btn btn-primary">Terrain</button>
    <button (click)="setMapType('satellite')" class="btn btn-danger">Satellite</button>
    <button (click)="setMapType('roadmap')" class="btn btn-warning">Road Map</button>

    <button type="button" (click)="toggleMap()" class="btn btn-primary">Toggle Map</button>

  </div>
  <br>
  <div class="row" >
    <div class="col-md-12">
      <div class="text-center">
        <h3>
          <div #gmap style="width:100%;height:400px" ></div>
        </h3>
      </div>
    </div>
  </div>

  <footer>
    <div>
      <p>footer</p>
    </div>

  </footer>
</div>


<!-- <h1>hola prueba de googlemaps</h1> -->
<!--  -->
<!--  -->
<!-- <div #gmap class="mapa"></div> -->
<!-- <div class="col-md-3 col-sm-12 col-xs-12"> -->
  <!-- <button (click)="setMapType('terrain')" class="btn btn-primary">Terrain</button> -->
  <!-- <button (click)="setMapType('satellite')" class="btn btn-danger">Satellite</button> -->
  <!-- <button (click)="setMapType('roadmap')" class="btn btn-warning">Road Map</button> -->
<!-- </div> -->
<!--  -->
<!-- <form class="form-inline" #form="ngForm" (ngSubmit)="setCenter($event)" ac> -->
  <!-- <div class="form-group"> -->
    <!-- <input type="text" class="form-control" name="latitude" [(ngModel)]="latitude" placeholder="Enter latitude" required> -->
  <!-- </div> -->
  <!-- <div class="form-group"> -->
    <!-- <input type="text" class="form-control" name="longitude" [(ngModel)]="longitude" placeholder="Enter longitude" required> -->
  <!-- </div> -->
  <!-- <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Go</button> -->
<!-- </form> -->

<router-outlet></router-outlet>
